body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: auto;
  }

ol, ul {
    padding-left: 30px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
  
.status {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    margin: auto
}

.back{
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
    font-family: cursive;
    font-weight: 800;
    letter-spacing: 3px;
}